<footer class="footer">
    <div class="footer-content">
        <p class="quote">
            “Do not save what is left after spending, but spend what is left after saving.”
        </p>
        <p class="author">— Warren Buffett</p>

        <div class="footer-bottom">
            <p>© 2026 Finance Dashboard | Built with 💙 by Anusha</p>
        </div>
    </div>
</footer>

<!-- JS -->
<script src="/js/script.js"></script>
</body>
</html>